button.active-fav {
  background-color: $btn-active-fav !important;
}

button.favorite-card-btn {
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  border: 0;
  height: 30px;
  position: relative;
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  background-color: hsla(0, 0%, 93%, .5);

  img {
    width: 20px;
  }
}

button {
  margin: 10px;
  padding: 4px 10px;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  font-family: $title-font;
  font-weight: light;

  img {
    width: 25px;
  }
}

button.category-btn {
  img {
    display: block;
    margin: auto;
  }
}

button.active {
  background-color: $active-btn;
}

button.view-fav-btn {
  position: absolute;
  bottom: 10px;
  right: 10%;

  span.fav-total {
    background-color: #000;
    color: white;
    display: inline-block;
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 10px;
  }
}

button.home-btn {
  position: absolute;
  left: 10%;
  bottom: 10px;
}