section.categories-btn-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px; 
  height: 17vh;
  border: 1px dashed white;

  div.btn-container {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;

  }
}