section.categories-btn-container {
  position: absolute;
  z-index: 5;
  bottom: 0;
  width: 100%;
  padding: 20px; 
  height: 13vh;
  background-color: hsla(183, 100%, 35%, .8);
  -webkit-clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);

  div.btn-container {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}