header {
  margin: 0;
  padding: 20px 0 0 0;
  color: $star-wars-font-color;
  font-family: $content-font;

  h2 {
    width: 150px;
    padding-top: 10px;
    margin: 10px auto ;
  }

  img {
    width: 18%;
  }
}