
$active-btn: hsl(115, 34%, 81%);
$button-color-primary: hsl(177, 60%, 66%);
$button-color-secondary: hsl(0, 31%, 57%);

$container-bgc-primary: hsl(115, 34%, 81%);
$container-bgc-secondary: hsl(115, 34%, 81%);

$font-light: hsl(120, 5%, 92%);
$font-dark:hsl(120, 4%, 57%);

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
